<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter Select</title>
</head>
<body>
    <h1>Select a chapter.</h1>

    <ul id="ChapterList">
        <li><a href=/chapter/1>CHAPTER 1</a></li>
        <li><a href=/chapter/2>CHAPTER 2</a></li>
        <li><a href=/chapter/3>CHAPTER 3</a></li>
    </ul>
</body>
</html>