<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href=/>Home</a></li>
            <li><a href=/chapter>chapters</a></li>
        </ul>
    </nav>

    <h1>Welcome</h1>

    <div id="imageContainer"></div>
    <script src="script.js"></script>

    <img src="https://res.cloudinary.com/dml8exmwk/image/upload/f_auto/1_BLUE_MOON_Ep_1_PG_restart_remaster_grhoab" width="200">

</body>
</html>

